node_modules
# Keep environment variables out of version control
.env
.vscode

src/routes/admin
src/routes/contacts
src/routes/posts
src/routes/reports

tests
logs

my-collection-project-service-account.json

coverage
dist
.pnpm-store
